PORT=9000
PROJECTS=random-project

APP_WEBHOOK_SECRET=

APP_ALLOWED_BRANCH=refs/heads/main
APP_DEPLOY_SCRIPT=/<path_project>/deploys/app.deploy.sh
DEPLOY_HISTORY_PATH=/<path_project>/deploys/deploy_history.json

DISCORD_WEBHOOK_URL=
ERROR_LOG_DIR=/<path_project>/deploys/logs